/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #edffcc !important;
    --ion-toolbar-background: #59981a !important;
    --ion-color-primary: #59981a !important;
    --ion-color-primary-contrast: #edffcc !important;
    --ion-color-medium: #91a095 !important;
    /* Alle weiteren Farben */
  }

  body,
  ion-content,
  ion-toolbar,
  .lobby-header,
  .ludonect-logo {
    background: #edffcc !important;
    color: #385028 !important;
  }
}